<h3>Transferring Data Through Service Subject</h3>

<div class="inline-box">
    <div class="child-row" style="border: 2px double black;margin-right: 2px">
        <app-count-down-timer ></app-count-down-timer>
        </div>
        <div class="child-row" style="border: 2px double black;">
                <app-counter-actions  ></app-counter-actions>
                <app-counter-action-logger ></app-counter-action-logger>
            </div>    
</div>
<div class="inline-box1">
    <div class="child-row" style="border: 2px double black; padding: 0px;">
        <app-action-counter ></app-action-counter>
    </div>  
</div>

