<h1>
    <p>About Of Application</p>
</h1>

<ol>
    <li>
        <h3>Floating banner Text</h3>
        <ul>
            <li>adding the floating text to one responsive div</li>
            <li>adding the floating text in nested responsive divs</li>
        </ul>
    </li>

    <li>
        <h3>Product Catalog</h3>
        <ul>
            <li>List of 40 products with Grid And List View Button</li>
            <li>This list of products can be filtered in 4 categories: "price low to high","price high to
                low","popularity level","color name"</li>
            <li>The grid view is made with custom css, the list view is made with Angular Mat card</li>
        </ul>
    </li>
    <li>
        <h3>Transferring Data Through Input() & Output() Methods</h3>
        <ul>
            <li>Data has been transfered between 4 components using input and output methods</li>
        </ul>
    </li>
    <li>
        <h3>Transferring Data Through Service Subject</h3>
        <ul>
            <li>Data has been transfered between 4 components using Service subjects.</li>
        </ul>
    </li>
    <li>
        <h3>Student Data Module</h3>
        <ul>
            <li>Data has been set in 2 ways via Ang-Material, and via custom-js</li>
            <li>On clicking of every column in table the data get sorted according to ascending order then descending
                order and then the original data.</li>
        </ul>
    </li>
    <li>
        <h3>Adding Divs on Scrolling Module</h3>
        <ul>
            <li>On scrolling down the divs should be added dynamictally.</li>
            <li>On clicking on any button inside div there should be alert specifying the no. of div clicked</li>
        </ul>
    </li>
</ol>