<h3>Transferring Data Through Input() & Output() Methods</h3>

<div class="inline-box">
    <div class="child-row" style="border: 2px double black;margin-right: 2px">
        <app-count-down-timer [counterValue]="counterValue" (pausedCounterValue)="GetPauseData($event)"></app-count-down-timer>
        </div>
        <div class="child-row" style="border: 2px double black;">
                <app-counter-actions [pausedCounterValue]="pausedCounterValue" (counterOutput) ="GetChildData($event)" ></app-counter-actions>
                <app-counter-action-logger [counterValue]="counterValue" [pausedCounterValue]="pausedCounterValue"></app-counter-action-logger>
            </div>    
</div>
<div class="inline-box1">
    <div class="child-row" style="border: 2px double black; padding: 0px;">
        <app-action-counter [counterValue]="counterValue" ></app-action-counter>
    </div>  
</div>