<div class="scroll-left">
    <p>A floating Banner Text That keeps on Rotating</p>
</div>

<div style="width: 94%;height: 550px;border: 2px solid black;margin:20px auto">


    <div style="width: 92%;height: 500px;border: 2px solid black;margin:20px auto">

        <div style="width: 90%;height: 400px;border: 2px solid black;margin:40px auto">

            <div style="width: 88%;height: 300px;border: 2px solid black;margin:40px auto">

                <div style="width: 86%;height: 200px;border: 2px solid black;margin:40px auto">
                    <div style="width: 84%;height: 100px;border: 2px solid black;margin:40px auto">
                        <div style="width: 82%;height: 50px;border: 2px solid black;margin:20px auto">
                            <div style="width: 80%;height: 30px;border: 2px solid black;margin:7px auto">
                                <div class="scroll-left">
                                    <p>A floating Banner Text That keeps on Rotating</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>